fastapi
uvicorn[standard]
sqlalchemy
sqlalchemy-utils
python-dotenv
pydantic
pytest

streamlit

numpy
pandas
scipy
scikit-learn
joblib
pyarrow
fastparquet

torch
torchvision
pillow

transformers
sentencepiece
sacremoses
sentence-transformers
nltk
mlxtend

faker

python-multipart

matplotlib
seaborn
jupyterlab